<section class="advantages">
<div class="container advantages-container">
<p class="advantages-subtitle">Переваги</p>
<h2 class="advantages-title">Чому обрати нас?</h2>
<p class="advantages-text">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну відповідальність.</p>
<ul class="advantages-list">
    <li class="advantages-item">
        <img srcset="/img/advantages/advantages1.png 1x, /img/advantages/advantages1_2x.png 2x" 
        src="/img/advantages/advantages1.png"
        alt="advantages1" width="288" height="198" class="advantages-item-img">
        <div class="advantages-item-title-text">
        <h3 class="advantages-item-title">Стійкість та екологічність</h3>
        <p class="advantages-item-text">Виготовлені з органічної бавовни та переробленого пластику.</p>
        </div>
    </li>
    <li class="advantages-item">
        <img srcset="/img/advantages/advantages2.png 1x, /img/advantages/advantages2_2x.png 2x" 
        src="/img/advantages/advantages2.png"
        alt="advantages2" width="288" height="198" class="advantages-item-img">
        <div class="advantages-item-title-text">
        <h3 class="advantages-item-title title2">Міцність і довговічність</h3>
        <p class="advantages-item-text">Наші сумки мають посилені шви для тривалого використання.</p>
        </div>
    </li>
    <li class="advantages-item">
        <img srcset="/img/advantages/advantages3.png 1x, /img/advantages/advantages3_2x.png 2x" 
        src="/img/advantages/advantages3.png"
        alt="advantages3" width="288" height="198" class="advantages-item-img img3">
        <div class="advantages-item-title-text title-text3">
        <h3 class="advantages-item-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-item-text">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>  
        </div>
    </li>
</ul>
</div>

</section>

