<section id="feedbacks" class="feedbacks">
  <div class="container">
    <h2 class="feedbacks-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-list-item">
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <p class="feedbacks-mesage">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks-user">Анна</p>
      </li>
      <li class="feedbacks-list-item">
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon down" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <p class="feedbacks-mesage">
          Відмінна якість матеріалів, приємно здивований.
        </p>
        <p class="feedbacks-user">Ігор</p>
      </li>
      <li class="feedbacks-list-item">
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon down" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <p class="feedbacks-mesage">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedbacks-user">Олена</p>
      </li>
      <li class="feedbacks-list-item">
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="feedbacks-icon" width="20" height="19">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <p class="feedbacks-mesage">Швидка доставка та гарне обслуговування.</p>
        <p class="feedbacks-user">Сергій</p>
      </li>
    </ul>
  </div>
</section>
