<footer class="footer">
    <div class="conteiner footer-conteiner">
        <a class="footer-logo" href="#">
            <svg class="footer-logo-icon" width="280" height="121">
                <use href="../img/logo.svg"></use>
            </svg>
        </a>

        <nav class="footer-nav">
            <ul class="footer-nav-list">
                <li><a class="footer-nav-link" href="#">Про нас</a></li>
                <li><a class="footer-nav-link" href="#">Переваги</a></li>
                <li><a class="footer-nav-link" href="#">Асортимент</a></li>
                <li><a class="footer-nav-link" href="#">Галерея</a></li>
                <li><a class="footer-nav-link" href="#">Відгуки</a></li>
                <li><a class="footer-nav-link" href="#">Контакти</a></li>
            </ul>
        </nav>

        <ul class="footer-social">
            <li class="footer-item">
                <a class="footer-social-link" href="https://www.instagram.com/" target="_blank"
                    rel="noopener noreferrer" aria-label="instagram">
                    <svg class="footer-icon" width="32" height="32">
                        <use href="../img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-item">
                <a class="footer-social-link" href="https://ua.linkedin.com/" target="_blank" rel="noopener noreferrer"
                    aria-label="LinkedIn">
                    <svg class="footer-icon" width="32" height="32">
                        <use href="./img/icons.svg#icon-linkedIn"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-item">
                <a class="footer-social-link" href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"
                    aria-label="YouTube">
                    <svg class="footer-icon" width="32" height="32">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <div class="footer-contacts">
            <ul class="footer-contacts-list">
                <li class="footer-contact-item">
                    <a class="footer-contact-link" href="tel:+380999091122">+38 (099) 909 11 22</a>
                </li>
                <li>
                    <a class="footer-contact-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
                </li>
            </ul>
        </div>

        <p class="footer-copy">© 2025 EcoTote. Всі права захищені.</p>


    </div>
</footer>