<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-header" href="/index.html">
        <svg class="icon-logo" width="104" height="39">
          <use href="/img/logo.svg"></use>
        </svg>
      </a>
      <ul class="site-nav-list">
        <li class="site-nav-item"><a href="#about">Про нас</a></li>
        <li class="site-nav-item"><a href="#advantages">Переваги</a></li>
        <li class="site-nav-item"><a href="#assortment">Асортимент</a></li>
        <li class="site-nav-item"><a href="#gallery">Галерея</a></li>
        <li class="site-nav-item"><a href="#feedbacks">Відгуки</a></li>
        <li class="site-nav-item"><a href="#support">Контакти</a></li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contact-list">
        <li>
          <a class="contact-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li>
          <a class="contact-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button class="mob-menu-open" type="button" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu" data-menu>
    <div class="mob-close-box">
      <a class="logo" href="/index.html">
        <svg class="icon-logo" width="82" height="31">
          <use href="/img/logo.svg"></use>
        </svg>
      </a>
      <button class="menu-btn-close" type="button" data-menu-close>
        <svg class="menu-icon-close" width="16" height="16">
          <use href="/img/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <nav class="nav-mob-menu">
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a class="link-nav-mob" href="#about">Про нас</a>
        </li>
        <li class="mob-nav-item">
          <a class="link-nav-mob" href="#advantages">Переваги</a>
        </li>
        <li class="mob-nav-item">
          <a class="link-nav-mob" href="#assortment">Асортимент</a>
        </li>
        <li><a class="link-nav-mob" href="#gallery">Галерея</a></li>
        <li><a class="link-nav-mob" href="#feedbacks">Відгуки</a></li>
        <li><a class="link-nav-mob" href="#support">Контакти</a></li>
      </ul>
    </nav>
    <div class="mob-bottom">
      <address class="contacts-mob-menu">
        <ul class="contacts-mob-menu-list">
          <li class="contacts-mob-menu-item">
            <a class="link-contacts-mob" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="contacts-mob-menu-item">
            <a class="link-contacts-mob" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
