<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="../partials/header.html"
        ><img src="../img/EcoTote.svg" alt="logo" /><span class="first-letter"
          >E</span
        >coTote</a
      >
      <ul class="site-nav-list">
        <li class="site-nav-item"><a href="#about">Про нас</a></li>
        <li class="site-nav-item"><a href="#advantages">Переваги</a></li>
        <li class="site-nav-item"><a href="#assortment">Асортимент</a></li>
        <li class="site-nav-item"><a href="#gallery">Галерея</a></li>
        <li class="site-nav-item"><a href="#feedbacks">Відгуки</a></li>
        <li class="site-nav-item"><a href="#support">Контакти</a></li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contact-list">
        <li>
          <a class="contact-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li>
          <a class="contact-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button class="mob-menu-open" type="button">
      <svg class="burger" width="32" height="32">
        <use href="./images/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
