<section class="hero">
  <div class="container container-hero">
    <div class="hero-tab">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
      <div class="for-text">
        <p class="hero-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment" class="hero-btn">Купити зараз</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ../img/hero/hero1x-desk.webp  1x,
          ../img/hero/hero-2x-desk.webp 2x
        "
        type="image/webp"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ../img/hero/hero-1x-tab.webp 1x,
          ../img/hero/hero-2x-tab.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/hero/hero--1x-mob.webp 1x,
          ../img/hero/hero--2x-mob.webp 2x
        "
        type="image/webp"
        media="(max-width: 767px)"
      />
      <img
        src="../img/hero/hero--1x-mob.png"
        alt="EcoTote сумки"
        loading="lazy"
      />
    </picture>
  </div>
</section>
