<section class="hero">
  <div class="container">
    <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
    <p class="hero-text">
      Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
      відповідальність разом з EcoTote.
    </p>
    <a href="#assortment" class="hero-btn">Купити зараз</a>
    <!-- <button type="button" class="hero-btn">Купити зараз</button> -->
    <img
      srcset="/img/hero--1x-mob.png 1x, /img/hero--2x-mob.png 2x"
      src="/img/hero--1x-mob.png"
      alt="EcoTote сумки"
      width="288"
    />
  </div>
</section>
