.assortment {
  background-color: #ebf8ed;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.assortment-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}
.thumb {
  display: flex;
  margin-bottom: 16px;
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  max-width: 288px;
}
.item-text-group {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  color: #030a06;
  line-height: 1.6;
}
.assortment-item-subtitle {
  font-weight: 600;
  font-size: 18px;
}
.assortment-item-text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
}
.assortment-item-price {
  font-weight: 600;
  font-size: 20px;
}
.assortment-item-btn {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 40px;
  background-color: #113916;
  border: 1px solid #113916;
  border-radius: 6px;
  padding: 8px 20px;
  opacity: 60%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.assortment-item-btn:hover,
.assortment-item-btn:focus {
  background-color: transparent;
  color: #113916;
}
.assortment-item-btn:active {
  border: none;
}

@media only screen and (min-width: 768px) {
  .assortment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .assortment-list-item {
    width: calc((100% - 24px) / 2);
  }
  .thumb {
    max-width: 340px;
  }
  .tab-group {
    max-width: 200px;
    margin: 0 auto;
  }
  .tab-bag-group {
    margin-bottom: 22px;
  }
  .assortment-item-btn {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .assortment > .container {
    padding-left: 64px;
    padding-right: 64px;
  }
  .assortment-list {
    gap: 24px;
    row-gap: 64px;
    margin-left: 0;
    margin-right: 0;
  }
  .thumb {
    max-width: 310px;
  }
  .assortment-list-item {
    flex: 1 1 calc((100% - 72px) / 4);
  }
  .duffle-pc-group {
    max-width: 250px;
    margin: 0 auto;
  }
  .tab-bag-group {
    margin-top: 27px;
    margin-bottom: 11px;
  }
  .pc-kids-group {
    margin-top: 27px;
    margin-bottom: 11px;
  }
}
