body {
  font-family: 'Fira Sans', sans-serif;
  color: #030a06;
}
h1,
h2 {
  font-family: 'Comfortaa', sans-serif;
}

a {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
