.header {
  background-color: #75d281;
}

.logo-header {
  display: block;
}

.header-container {
  padding: 14px 12px 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .header-container {
  display: flex;
  align-items: center;
} */

.site-nav-list {
  display: none;
}

.contact-list {
  display: none;
}

.mob-menu-open {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  fill: #030a06;
}

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #75d281;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mob-close-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px 14px 20px;
}

.menu-btn-close {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-icon-close {
  display: block;
  fill: #030a06;
  width: 32px;
  height: 32px;
}

.nav-mob-menu {
  margin-bottom: 32px;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 20px;
  height: 100%;
}

.link-nav-mob {
  font-weight: 400;
  line-height: 1.6;
}

.contacts-mob-menu {
  font-style: normal;
}

.contacts-mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 16px 0 16px;
}

.link-contacts-mob {
  font-weight: 400;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 14px 16px 14px 32px;
  }

  .mob-close-box {
    padding: 14px 16px 14px 32px;
  }

  .mob-nav-list {
    padding: 32px;
  }

  .contacts-mob-menu-list {
    padding: 32px 32px 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-container {
    padding: 0;
  }

  .mob-menu-open {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .logo-header {
    padding: 14px 175px 14px 64px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .site-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 23px 0;
  }

  .contact-list {
    display: flex;
    gap: 16px;
    font-style: normal;
    padding: 23px 64px 23px 0;
  }
}
